<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Upload portfolio</title>
    <style>
        body {
            width: 100%;
            background-image: url(https://res.cloudinary.com/vitamim/image/upload/v1641284425/source/Tesselation-Transition_krt5wf.gif);
            background-position: center;
            background-repeat: repeat-y;
            background-size: cover;
        }

        .header {
            width: 100%;
            background-image: url(https://res.cloudinary.com/vitamim/image/upload/v1641284425/source/Tesselation-Transition_krt5wf.gif);
            background-position: center;
            background-repeat: repeat-y;
            background-size: cover;
        }

        .logo {
            text-decoration: none;
        }

        .input {
            display: flex;
            align-items: center;
            height: 720px;
        }

        .danganh {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: .375rem 2.25rem .375rem .75rem !important;
            margin-bottom: 20px;
        }

        #preview {
            margin: 10px 10px;
            border: 1px solid rgb(255, 255, 255);
        }

        #err1 {
            color: red;
            visibility: hidden;
        }

        #err2 {
            color: red;
            visibility: hidden;
        }

        .img {
            height: 167px;
            width: auto;
            border-radius: 5px;
            cursor: pointer;
            border: #fff 1px solid;
        }

        .img-overlay {
            background-color: white;
            padding: 5px 5px;
            border-radius: 0.25rem;
            margin: 5px 5px 5px 0px;
            display: flex;
            flex-direction: column;
        }

        .img:hover {
            box-shadow: #ffffff 4px 4px 4px 2px;
        }

        .border {
            border: #fff 1px solid;
        }

        .border-btn {
            background-color: white;
            border-radius: .25rem;
            border: white 1px solid;
        }

        .btn {
            width: fit-content;
            height: fit-content;
        }

        .collection {
            padding: 10px 5px;
            border-radius: 5px;
            box-shadow: #ffffff 1px 1px 4px 1px;
            display: flex;
            justify-content: space-around;
        }

        .background {
            width: 82%;
            margin-left: 9%;
            background-color: rgba(255, 255, 255, 0.226);

        }

        label {
            color: #fff;
        }

        h3 {
            color: rgb(255, 255, 255);
            width: fit-content !important;
            padding: 5px 5px;
            border-radius: 0.25rem;
            font-family: 'comfotaa';
            font-weight: 700;
            font-weight: bolder;
            box-shadow: #ffffffb0 0px 0px 6px 1px;
            border: #fff 1px solid;
            margin-bottom: 0px;
            margin-right: 5px;
        }

        .loader {
            border: 8px solid #f3f3f3;
            /* Light grey */
            border-top: 8px solid #000000;
            /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .hide {
            display: none;
        }

        .laptop {
            display: block;
        }

        .mobile {
            display: none;
        }

        @media all and (max-width: 480px) {
            .img {
                width: 95%;
                height: auto;
            }

            .collection {
                justify-content: center;
            }

            .img-overlay {
                margin-right: 0px;
            }

            .laptop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }

        @media (min-width: 480px) and (max-width: 860px) {

            .img {
                width: auto;
                height: 190px;
            }


            .collection {
                justify-content: space-around;
            }

            .img-overlay {
                margin-right: 0px;
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-light fixed-top collection header" style="background-color: #ffffff00;">
            <div class="container-fluid">
                <a class="logo" href="/upload">
                    <h2 style="color: white;font-family: 'comfotaa';font-weight: 700;margin-bottom: 0px;">My portfolio
                    </h2>
                </a>
                <button style="background-color: #ffffff; border-color:rgba(255,255,255,1) !important;"
                    class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                    <span style="color: #ffffff !important;" class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Chức năng</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active danganh" aria-current="page" href="/upload">Đăng ảnh</a>
                            </li>
                            <form action="/show">
                                <select class="form-select" aria-label="Default select example" id="m_gallery"
                                    name="owned_gallery" onchange="this.form.submit()">
                                    <option selected value="0">Xem bộ sưu tập ảnh</option>
                                    {{#each img}}
                                    <option value="{{this.gallery}}" type="submit">{{this.gallery}}</option>
                                    {{/each}}
                                </select>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="mt-4" style="height: 100px;">
    </div>
    <div class="mt-5 collection background">
        {{{body}}}
    </div>

    <div class="footer">{{{footer}}}</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>
<script type="text/javascript">
    function change() {
        document.getElementById("err1").style.visibility = 'hidden';
    }
    function previewFiles() {
        document.getElementById("err2").style.visibility = 'hidden';
        var preview = document.querySelector('#previews');
        var files = document.querySelector('input[type=file]').files;
        var ValueArr = []
        function readAndPreview(file) {
            // Make sure `file.name` matches our extensions criteria
            if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                let url = URL.createObjectURL(file);
                var image = new Image();
                image.height = 100;
                image.title = file.name;
                image.id = "preview";
                image.src = url;
                preview.appendChild(image);
            }
        }
        if (files) {
            [].forEach.call(files, readAndPreview);
        }
    }
    function checkSubmit() {
        if (document.getElementById("collection_name").value == "" && document.getElementById("my_gallery").value == "0" && document.getElementById("inputFile").value == "") {
            document.getElementById("err1").style.visibility = 'visible';
            document.getElementById("err2").style.visibility = 'visible';
            return false;
        }
        else if (document.getElementById("collection_name").value == "" && document.getElementById("my_gallery").value == "0") {
            document.getElementById("err1").style.visibility = 'visible';
            return false;
        }
        else if (document.getElementById("inputFile").value == "") {
            document.getElementById("err2").style.visibility = 'visible';
            return false;
        }
        else {
            document.getElementById("loading").style.display = "flex";
            return true;
        }
    }
</script>
<script>
    document.getElementById("btnradio1").onclick = function () {
        document.getElementsByClassName("new-col")[0].style.display = 'block';
        document.getElementsByClassName("owned-col")[0].style.display = 'none';
    }
    document.getElementById("btnradio2").onclick = function () {
        document.getElementsByClassName("new-col")[0].style.display = 'none';
        document.getElementsByClassName("owned-col")[0].style.display = 'block';
    }
</script>

</html>